*{

    margin: 0;
    padding: 0;
}

body{

    position: relative;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: 100%

}

header{

    position: fixed;
    top: 0;
    width: 100%;
    background-color: #26619c;

}

li{

    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: solid white 2px;
    border-radius: 5px;
    padding: 7px 7px 7px 7px;
}

a{

    color: white;
    text-decoration: none;
}

.conatiner{

    width: 1280px;
    margin: auto;
}


@media(max-width:1280px) {
    .conatiner{

        width: 100%;
    }
}

.navbar{

    width: 95%;
    margin: 0;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-menu{

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

}

.nav-branding{

    margin-left: 200px;
}

.gridimg{

    margin-top: 90px;
    margin-left: 40px;
}

.imghead{

    left:8px;
    bottom: 10px;
}

.grid1{

    display: flex;
}

.grid2{

    display: flex;
    margin-top: 20px;
}

.slide{

    transition: transform .2s;
}

.slide:hover{

    transform: scale(1.12); 
}

.gridimg img{

    width: 60vh;
    height: 35vh;
    border: solid black 2px;
    border-radius: 10px;
    margin-left: 35px;
}



footer{

    position: fixed;
    margin: 0;
    bottom: 0;
    width: 100%;
    background-color: #26619c;

}

.footercontainer{

    min-height: 50px;
}

.footercontent1{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}

.footercontent1 p{
    
    font-size: 20px;
    color: white;
}
