body{

    margin: 0;
    padding: 0;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: 100% 210%;
    text-align: center;
    justify-content: center;
    margin-top: 150px;

}

.container{

    width: 45vh;
    height: 37vh;
    margin-left: 600px;
    border : solid black 2px;
    border-radius: 10px;
    background-color: white;

}

.formheader p{

    font-size: 200%;
    font-weight: 600;
}

.contact input{

    width: 90%;
    height: 40px;
    border-radius: 5px;
}

.but input{

    width: 40%;
    height: 40px;
    border-style: none;
    border-radius: 5px;
    margin-top: 30px;
    background-color: black;
    color: white;
    font-size: 22px;
    font-weight: 600;
}




